body{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aliceblue;
    overflow: hidden;
    padding-top: 5rem;
    transition: 0.5s;
}

.side-menus{
    display: flex;
    flex-direction: column;
}

.sidenav button{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
  }

.sidenav button:hover{
    background-color: #38BDFF;
}

.sidenav .closebtn{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 0px;
    font-size: 2rem;
}

.hidden-btn{
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    display: none;
}

.sidenav .closebtn:hover{
    background-color: transparent;
    color:#38BDFF;
}

.top-area{
    padding-right: 1.625rem;
    display: flex;
}

.head-line{
    margin-top: 1rem;
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.menus{
    margin-bottom: 1rem;
    border-top: 2px solid black;
    border-bottom: 8px double black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menus button{
    margin: 0.5rem 0.5rem;
    background-color: transparent;
    border: none;
}

.menus button:hover{
    background-color: #38BDFF;
}

#input-area{
    display: none;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input{
    border: none;
    border-bottom: 2px solid black;
}

.search-btn{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-weight: bold;
}

.search-btn:hover{
    background-color: black;
    color: white;
}

.main-imgsize{
    max-width: 100%;
    max-height: 16rem;
}

.news-view{
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.calendar-style{
    display: none;
}

@media screen and (max-width: 60rem) {
    h2{
        font-weight: 900;
        font-style: normal;
        font-size: 1.3rem;
    }
    .row{
        margin: 0rem 0.3rem 1rem 0.3rem;
    }
    .col-lg-4{
        padding: 0px 0px;
        text-align: center;
    }
    .col-lg-8{
        padding: 0px 0px;
    }
    .head-line{
        border-bottom: none;
        margin: 0rem 0rem 1rem 1.3rem;
        padding-bottom: 0rem;
        font-size: 2rem;
    }
    .hidden-btn{
        display: block;
    }
    .menus{
        display: none;
    }
    .news-view{
        text-align: left;
        border-bottom: 1px solid black;
    }
    .main-imgsize{
        margin-bottom: 1rem;
    }
    .top-area{
        justify-content: space-between;
    }
    #input-area{
        display: flex;
    }
    input::placeholder{
        text-align: center;
    }
    .medi-hidden{
        display: none;
    }
    .top-center{
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .calendar-style{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
  }